
.btn-group-xs > .btn, .btn-xs {
  padding: .5rem .25rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
.btn-group-xxs > .btn, .btn-xxs {
  padding: .5rem .01rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
.leaflet-container{
	background:#000000;
}
body {
  margin: 0;
  height: calc(100% - 51px);
}
html, #map1 {
    height: 100%;
}
html, #map2 {
    height: 100%;
}
header.navbar {
    margin-bottom: 0; /* remove bottom margin */ 
}
.ui-autocomplete.ui-front{
    z-index: 1051;
    height: auto;
    font-size:14px;
    max-height: 480px;
    overflow-x: hidden;
}
html, body {
  font-size: 16px;
  /*height: 100%;*/
}
.leaflet-container {
    background-color:white;
}

#map1 {
  height: 500px;
}
#map2 {
  height: 500px;
}


.scrollable-menu {
    height: auto;
    max-height: 500px;
    width: 200px;
    overflow-x: hidden;
}
#cell_type li {
    font-size: 14px;
}

